<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        
        <key>LSUIElement</key>
        <true/>
        
        <key>NSAccessibilityUsageDescription</key>
        <string>This app needs Accessibility permission to detect your keyboard shortcut and retrieve information about open applications for the app switcher overlay.</string>
        
        <key>NSAppleEventsUsageDescription</key>
        <string>This app requires Apple Events permission to bring other applications to the front when switching.</string>
        
    </dict>
</plist>
